* {
    margin: 0px;
    padding: 0px;
}

/* header関連 START */
.center {
    text-align: center;
}

#header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 270px;
    margin: 0 auto;
    padding: 0 4%;
    box-sizing: border-box;
}

.home_icon {
    line-height: 1px;
}

#header ul {
    display: flex;
    list-style: none;
}

#header li {
    margin-left: 30px;
    font-size: 0.9rem;
}

#header li a {
    color: #000000;
    text-decoration:none; 
}

#header li img.instagram_icon {
    width: 20px;
}

/* header関連 END */

/* main関連 START */
#mainvisual img {
    max-width: 1920px;
    height: 420px;
    width: 100%;
    object-fit:cover;
    margin-bottom: 80px;
}

/* 各mainのセクションのビジュアルを統一する START*/
.section_visual{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
    box-sizing: border-box;
    margin-bottom: 130px;
}

.title_layout {
    margin-bottom: 65px;
    text-align: center;
}

/* 各mainのセクションのビジュアルを統一する END*/

#About .about_contents {
    margin-bottom: 30px;
}

#About ul {
    font-size: 0.9rem;
    list-style: none;
}

#About p {
    font-size: 0.9rem;
    text-align: justify;
}

#Work ul {
    display: flex;
}

#Work img {
    width: 30px;
}

/* main関連 END */
